body{
  background-color: white;
  line-height: 10px;
  text-align: center;
  margin-top: 20px;
  font-family: 'inter'
}

button{
  cursor: pointer;
}

h1{
  text-decoration: underline;
  font-weight: 400;
}

h3{
  font-weight: 400;
}

span{
  font-weight: 500;
}

input{
  height: 25px;
  border-radius: 10px;
  border: 1px solid #cfcfcf;
  text-align: center;
  background-color: #cfcfcf;
}

input[type=number]::-webkit-inner-spin-button{
  height: 30px;
  color: #00a1a4;

}

input:focus{
  border: 1px solid #00a1a4;
}

.app {
  border-radius: 25px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.365);
  margin: 0 auto 0 auto;
  padding-top: 30px;
  
}

.goal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.365);
}

.edit{
  position: absolute;
  top: 30px;
  left: 80px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #00a1a4;
  color: #00a1a4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.edit span {
  font-size: small;
}

h3 input {
  width: 40px;
  height: 20px;
}

.daily{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  padding: 10px;
  margin-top:20px;

}

.dailyForm{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  gap: 10px;
  width: 70%;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
}

.daily-btn{
  margin-top: 10px;
  width: 80px;
  height: 35px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #00a1a4;
  color: white;
  background-color: #00a1a4;
}

.daily-div {
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  gap: 30px;
}

.daily-c, .daily-p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.daily-c button, .daily-p button {
  width: 145px;
  border-radius: 10px;
  border: none;
  height: 29px;
  background-color: #cfcfcf;
  color: #696969;
}

.reset{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 5px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid red;
  color: red;
}

.reset > span {
  font-size: 30px;
}

.quick-100 {
  width: 145px;
  border-radius: 10px;
  border: none;
  height: 29px;
  background-color: #cfcfcf;
  color: #696969;
}

@media only screen and (min-width: 500px){
  .edit{
    left: 150px;
  }

  h3 > input {
    width: 60px;
  }
}